#skill{
    height: 200vh; /* wjdbdwjcbwh */
    
    }
   

 .skill-list div{background-color: #262626;
padding: 40px;}



.html{ height:auto;
    width: 300px;
    margin-right: 20px;
    display: flex;
   align-items: center;     
transition: transform 0.5s;}
    
    .css{
        height: auto;;
    width: 300px;
    margin-right: 20px;
    
    display: flex;
    align-items: center; 
    transition: transform 0.5s; 
    }



    .js{
        height: auto;
        width: 300px;
        margin-right: 20px;

        display: flex;
        align-items: center; 
        transition: transform 0.5s; 
    }

    .skill h2{margin-left: 30px;}

    .html:hover{ transform: translateY(-10px);  }

    .css:hover{ transform: translateY(-10px);  }

    .js:hover{ transform: translateY(-10px);  }
